@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.bg-index {
  background-image: url("https://res.cloudinary.com/dmlrehiwh/image/upload/v1732501704/xm30x1gothdtx6jcawbm.png");
  background-repeat: repeat;
}